{% extends 'base/base.html' %}

{% block headtop %}

    <link rel="stylesheet" href="/media/assets/css/btn.scss">
    <link rel="stylesheet" href="/media/assets/css/btn.css">

{% endblock %}

{% block body %}

    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            <div class="banner-item-01">
                <div class="text-content">
                    <h4 style = "font-size: 95px; font-weight: 200;">It's Riviera!!</h4>
                    <h2>New Arrivals On Sale</h2>
                </div>
            </div>
            <div class="banner-item-02">
                <div class="text-content">
                    <h4>Hype skins</h4>
                    <h2>Get your best deals ASAP</h2>
                </div>
            </div>
            <div class="banner-item-03">
                <div class="text-content">
                    <h4>Last Minute</h4>
                    <h2>Grab last minute deals</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Latest Products</h2>
                        <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="/media/assets/images/product_01.jpg" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>Basix Rivera T-Shirt for Men</h4></a>
                            <h6>₹599</h6>
                            <p>Custom made printed and curated collection for Riviera 2023</p>
                            <ul class="stars">
                                <!--
                                <li><i class="fa fa-sta"></i></li>
                                <li><i class="fa fa-star"></i></li>

                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>-->
                            </ul>
                            <button class="glow-on-hover" type="button"><a href = "https://merchants.printrove.com/app/product/415650" style="color:#ffffff" >Buy Now!</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="/media/assets/images/product_02.png" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>T-Shirts for Women</h4></a>
                            <h6>₹599</h6>
                            <p>Custom printed Riviera Shirts exclusively for women</p>
                            <ul class="stars"></ul><!--
                                <li><i class="fa fa-sta"></i></li>
                                <li><i class="fa fa-star"></i></li>

                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>-->
                            </ul>
                            <button class="glow-on-hover" type="button">Buy Now!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="/media/assets/images/product_01.jpg" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>T-Shirt for Couple</h4></a>
                                <h6>₹649</h6>
                                <p>Printed with and for love 3 . Cherish your partner</p>
                                <!--<ul class="stars">
                                    <li><i class="fa fa-sta"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>-->
                                <div class="button_su">
                                    <span class="su_button_circle"></span>
                                    <button type="submit" href="#" class="button_su_inner">
                                        <span class="button_text_container">Register</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="#"><img src="/media/assets/images/product_02.png" alt=""></a>
                            <div class="down-content">
                                <a href="#"><h4>Title goes here</h4></a>
                                <h6>₹599</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                                <ul class="stars">
                                    <!--
                                    <li><i class="fa fa-sta"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>-->
                                </ul>
                                <button class="glow-on-hover" type="button"><a href = "https://merchants.printrove.com/app/product/415650" style="color:#ffffff">Buy Now!</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="#"><img src="/media/assets/images/product_01.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="#"><h4>Title goes here</h4></a>
                                <h6>₹599</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                                <ul class="stars">
                                    <!--
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>-->
                                </ul>
                                <button class="glow-on-hover" type="button"><a href = "https://merchants.printrove.com/app/product/415650" style="color:#ffffff">Buy Now!</a></button>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="#"><img src="assets/images/product_02.png" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>Title goes here</h4></a>
                            <h6>$22.50</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <!--<ul class="stars">
                                <li><i class="fa fa-sta"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>-->
                            <button class="glow-on-hover" type="button"><a href = "https://merchants.printrove.com/app/product/415650" style="color:#ffffff">Buy Now!</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>About Marvel Skins</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Looking for the best products?</h4>
                        <p>We provide it here. Dynzyz is the one stop place for all your Riviera apparel needs</p>
                        <ul class="featured-list">
                        <li><a href="#">100% Cotton durable material.</a></li>
                        <li><a href="#">Premium quality printing.</a></li>
                        <li><a href="#">Hot water washable and hot iron withstandable</a></li>
                        <li><a href="#">Opaque material</a></li>
                        <li><a href="#">Soft and anti-allergic</a></li>
                        </ul>
                        <a href="about.html" class="filled-button">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="/media/assets/images/feature-image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Creative &amp; Unique <em>Marvel</em> Products</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                            </div>
                            <div class="col-md-4">
                                <a href="https://merchants.printrove.com/app/product/415650" class="filled-button">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block tabhome %}
    active
{% endblock %}
